{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set title = "Reports" %}
{% set selectedSubnavItem = 'reports' %}

{% block actionButton %}
  {% if currentUser.can('reports-editReports') %}
  <div class="buttons right">
	<div class="newwidget btngroup">
	  <div id="newwidgetmenubtn" class="btn submit menubtn add icon">{{ 'New report'|t }}</div>
	  <div class="menu newwidgetmenu">

		<ul>
		  {% for type in types %}
			<li>
			  <a href="{{ url('reports/'~type) }}" data-type="{{ type }}" data-name="{{ type }}">
				{{ type|replace('_',' ')|title }}
			  </a>
			</li>
		  {% endfor %}
		</ul>
	  </div>
	</div>
  </div>
  {% endif %}
{% endblock %}


{% block content %}

	{% if reports %}
		<table id="reports" class="data fullwidth collapsible">
			<thead>
			<th scope="col">{{ "Name"|t }}</th>
			<th scope="col">{{ "Type"|t }}</th>
			<th scope="col">{{ "Date"|t }}</th>
			<td class="thin"></td>
			<td class="thin"></td>
			<td class="thin"></td>
			</thead>
			<tbody>
			{% for report in reports %}
				<tr data-id="{{ report.id }}" data-name="{{ report.name|t }}" data-generating="{{ report.isGenerating }}">
					<th scope="row" data-title="{{ 'Name'|t }}">
						{% if currentUser.can('reports-editReports') %}
						<a href="{{ url('reports/edit/' ~ report.id) }}">{{ report.name|t }}</a>
						{% else %}
						{{ report.name|t }}
						{% endif %}
					</th>
					<td data-title="{{ 'Type'|t }}"><code>{{ report.type }}</code></td>
					<td data-title="{{ 'Date'|t }}" data-status>
						{% if report.lastGenerated ?? null %}
						{{ report.lastGenerated|date('d/m/Y H:i') }}
						{% endif %}
					</td>
					<td class="thin">
					{% if currentUser.can('reports-viewReports') %}
						<a class="btn view {{ report.isGenerating or not report.lastGenerated ? 'hidden' }}" title="{{ 'View'|t }}" href="{{ url('reports/view/' ~ report.id) }}" data-icon="view">View</a>
					{% endif %}
					</td>
					<td class="thin">
					{% if currentUser.can('reports-generateReports') %}
						<a class="run submit btn icon add {{ report.isGenerating ? 'disabled loading' }}" role="button" title="{{ 'Run'|t }}">Generate</a>
					{% endif %}
					</td>
					<td class="thin">
					{% if currentUser.can('reports-editReports') %}
						<a class="delete icon" title="{{ 'Delete'|t }}" role="button"></a>
					{% endif %}
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
  {% endif %}

  <div id="noReports">
	<p>{{ "No reports exist yet."|t }}</p>
  </div>

{% endblock %}

{% js %}
	new Craft.AdminTable({
		tableSelector: '#reports',
		noItemsSelector: '#noReports',
		deleteAction: 'reports/reports/delete'
	});

	$('#reports tr[data-id]').each(function(){
		var $tr = $(this);

		$tr.find('a.run').on('click', function(e){
			e.preventDefault();
			var $this = $(this);

			$tr.find('a.view').addClass('hidden');
			$tr.find('a.run').addClass('disabled loading');
			//$tr.find('[data-status]').text('GENERATING...');

			Craft.postActionRequest('reports/reports/run', {id:$tr.attr('data-id')}, (response, textStatus) => {
				if (textStatus === 'success') {
					Craft.cp.displayNotice($tr.attr('data-name')+' report has successfully started');
					pollReportStatus($tr.attr('data-id'), $tr.attr('data-name'));
				} else {
					Craft.cp.displayError($tr.attr('data-name')+' report has failed to start');
					$tr.find('a.view').removeClass('hidden');
					$tr.find('[data-status]').text();
				}
			});
		});

		if ($tr.attr('data-generating') == '1') {
			pollReportStatus($tr.attr('data-id'), $tr.attr('data-name'));
		}
	})

	function pollReportStatus($id, $name) {
		Craft.postActionRequest('reports/reports/get-status', {id:$id}, (response, textStatus) => {
			console.log(response)
			if (response.isGenerating == '1') {
				setTimeout(function(){
					pollReportStatus($id, $name);
				}, 1000)
			} else {
				Craft.cp.displayNotice($name+' report is ready');
				var $tr = $('#reports tr[data-id="'+$id+'"]')
				$tr.find('a.view').removeClass('hidden');
				$tr.find('a.run').removeClass('disabled loading');
				$tr.find('[data-status]').text(response.lastGenerated);
			}
		});
	}
{% endjs %}
