{% extends "_layouts/cp" %}


{% set title = "Report: "~report.name %}

{% set crumbs = [
	{ label: "Reports"|t, url: url('reports') }
] %}


{% block actionButton %}
  {% if currentUser.can('reports-exportReports') %}
  <div class="buttons right">
	<button type="button" id="export-btn" class="btn" data-id="{{report.id}}">{{ 'Export…'|t('app') }}</button>
  </div>
  {% endif %}
{% endblock %}

{% block content %}
  {% if data ?? null %}
    {{ raw(data) }}
  {% else %}
    <div style="overflow-x:scroll;">
    {% if report.data|length %}
    <table class="data fullwidth" data-sortable>
      <thead>
        <tr>
        {% for key, value in report.data[0] %}
          <th class="orderable" style="padding:0 12px;">{{ key|capitalize }}.</th>
        {% endfor %}
        </tr>
      </thead>
      <tbody>
      {% for order in report.data %}
        <tr>
        {% for value in order %}
          <td style="white-space:nowrap;">{{ value }}</td>
        {% endfor %}
        </tr>
      {% endfor %}
      </tbody>
    </table>
    {% else %}
    No results
    {% endif %}
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sortable/0.8.0/js/sortable.min.js" integrity="sha512-DEcSaL0BWApJ//v7ZfqAI04nvK+NQcUVwrrx/l1x7OJgU0Cwbq7e459NBMzLPrm8eLPzAwBtiJJS4AvLZDZ8xA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  {% endif %}
{% endblock %}


{% js %}
  new Reports.Export($('#main'));
{% endjs %}
