<div class="tableview tablepane">
<table class="data fullwidth" id="report-data">
	<thead>
		<tr>
			<th scope="col" data-attribute="id">Id</th>
			<th scope="col" data-attribute="firstName">First Name</th>
			<th scope="col" data-attribute="lastName">Last Name</th>
			<th scope="col" data-attribute="email">Email</th>
			<th scope="col" data-attribute="date">Date</th>
		</tr>
	</thead>
	<tbody>
	{% for user in report.data %}
		<tr>
			<td><a href="/admin/users/{{ user.id }}">{{ user.id }}</a></td>
			<td>{{ user.firstName }}</td>
			<td>{{ user.lastName }}</td>
			<td>{{ user.email }}</td>
			<td>{{ user.date }}</td>
		</tr>
	{% endfor %}
	</tbody>
</table>
</div>

{% js %}
	new DNAReports.DataTable($('#report-data'))
{% endjs %}